torch
torchvision
segmentation-models-pytorch
albumentations
opencv-python-headless
scikit-learn
scikit-image
pandas
numpy
matplotlib
seaborn
pytest
tqdm
fastapi
uvicorn
python-multipart
pillow
kaggle
pyyaml
pytest-cov
torchaudio
